&uart1 {
    status = "okay";
    current-speed = <921600>;
};

/ {
    aliases {
        wake-pin = &wake_pin;
        int-pin = &int_pin;
    };

    gpio_pins {
        compatible = "gpio-keys";

        wake_pin: wake_pin {
            gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
            label = "XM125 WAKE";
        };

        int_pin: int_pin {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
            label = "XM125 INT";
        };
    };
};

&gpio0 {
    ngpios = <32>;
    wake-hog {
        gpio-hog;
        gpios = <26 GPIO_ACTIVE_HIGH>;
        output-low;
        line-name = "XM125 WAKE";
    };
};